{% extends 'base.html.twig' %}

{% block title %}Formulaire Stagiaire{% endblock %}

{% block body %}
{% if edit %}
<h1>Editer un Stagiaire</h1>
{% else %}
<h1>Ajouter un Stagiaire</h1>
{% endif %} 
    {{ form(formAddStagiaire) }}
{% endblock %}