{% extends 'base.html.twig' %}

{% block title %}STAGIAIRES{% endblock %}

{% block body %}

<h1>STAGIAIRES</h1>
<p><button class="addButton"><a href=" {{ path('add_stagiaire') }} ">Ajouter un stagiaire</a></button></p>     

<div class="example-wrapper"></div>        

    <table>

        <thead>
            <tr>
                <th>NOM Prénom </th>
                <th>Action</th>  
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <td>
                        <a href=" {{ path('show_stagiaire', {'id': stagiaire.id}) }} "> {{ stagiaire }} </a></td>
                    <td>
                        <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
