{% extends 'base.html.twig' %}

{% block title %}MODULES{% endblock %}

{% block body %}

<h1>MODULES</h1>
<p><button class="addButton"><a href=" {{ path('add_module') }} ">Ajouter un Module</a></button></p>     
<div class="example-wrapper">

    <table>
        <thead>
            <tr>
                <th>Intitulé</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <td>- {{ module.titreMod }}</td>
                    <td><a href="{{ path('edit_module', {'id': module.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="{{ path('delModule_module', {'id': module.id}) }} "><i class="fa-solid fa-trash"></i></a></td>

                </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
