{% extends 'base.html.twig' %}

{% block title %}Formulaire Formateur{% endblock %}

{% block body %}
{% if edit %}
<h1>Editer un Formateur</h1>
{% else %}
<h1>Ajouter un Formateur</h1>
{% endif %} 
    {{ form(formAddFormateur) }}
{% endblock %}