{% extends 'base.html.twig' %}

{% block title %}FORMATEURS{% endblock %}

{% block body %}

<h1>FORMATEURS</h1>
<p><button class="addButton"><a href=" {{ path('add_formateur') }} ">Ajouter un formateur</a></button></p>     

<div class="example-wrapper"></div>        

    <table>

        <thead>
            <tr>
                <th>NOM Prénom </th>
                <th>Action</th>  
            </tr>
        </thead>
        <tbody>
            {% for formateur in formateurs %}
                <tr>
                    <td>
                        <a href=" {{ path('show_formateur', {'id': formateur.id}) }} "> {{ formateur }} </a></td>
                    <td>
                        <a href="{{ path('edit_formateur', {'id': formateur.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
